Client/Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Service">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Server_672013041/Service?xsd=1"/>
</xsd:schema>
</types>
<message name="Kurang">
<part name="parameters" element="tns:Kurang"/>
</message>
<message name="KurangResponse">
<part name="parameters" element="tns:KurangResponse"/>
</message>
<message name="Tambah">
<part name="parameters" element="tns:Tambah"/>
</message>
<message name="TambahResponse">
<part name="parameters" element="tns:TambahResponse"/>
</message>
<message name="Kali">
<part name="parameters" element="tns:Kali"/>
</message>
<message name="KaliResponse">
<part name="parameters" element="tns:KaliResponse"/>
</message>
<message name="Bagi">
<part name="parameters" element="tns:Bagi"/>
</message>
<message name="BagiResponse">
<part name="parameters" element="tns:BagiResponse"/>
</message>
<message name="Mod">
<part name="parameters" element="tns:Mod"/>
</message>
<message name="ModResponse">
<part name="parameters" element="tns:ModResponse"/>
</message>
<portType name="Service">
<operation name="Kurang">
<input wsam:Action="http://ws/Service/KurangRequest" message="tns:Kurang"/>
<output wsam:Action="http://ws/Service/KurangResponse" message="tns:KurangResponse"/>
</operation>
<operation name="Tambah">
<input wsam:Action="http://ws/Service/TambahRequest" message="tns:Tambah"/>
<output wsam:Action="http://ws/Service/TambahResponse" message="tns:TambahResponse"/>
</operation>
<operation name="Kali">
<input wsam:Action="http://ws/Service/KaliRequest" message="tns:Kali"/>
<output wsam:Action="http://ws/Service/KaliResponse" message="tns:KaliResponse"/>
</operation>
<operation name="Bagi">
<input wsam:Action="http://ws/Service/BagiRequest" message="tns:Bagi"/>
<output wsam:Action="http://ws/Service/BagiResponse" message="tns:BagiResponse"/>
</operation>
<operation name="Mod">
<input wsam:Action="http://ws/Service/ModRequest" message="tns:Mod"/>
<output wsam:Action="http://ws/Service/ModResponse" message="tns:ModResponse"/>
</operation>
</portType>
<binding name="ServicePortBinding" type="tns:Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Kurang">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tambah">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Kali">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Bagi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Mod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Service">
<port name="ServicePort" binding="tns:ServicePortBinding">
<soap:address location="http://localhost:8080/Server_672013041/Service"/>
</port>
</service>
</definitions>